# Book settings
title: ""
author: "l'Atelier Données – groupe de travail inter réseaux de la MITI – CNRS"
logo: images/logo.png
copyright: "2021"
email: contact-guide@services.cnrs.fr
description: "Guide de Bonnes Pratiques sur la gestion des données de la Recherche"
exclude_patterns: [README.md,LICENSE.md]

html:
    home_page_in_navbar: false
    use_repository_button: false
    use_edit_page_button: false
    extra_navbar: <a href="mailto:contact-guide@services.cnrs.fr">contact</a> 
    extra_footer: |
        <p>
        Ce guide est mis à disposition selon les termes de la Licence <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>.
        </p>

parse:
  myst_extended_syntax: true

sphinx:
    config:
        language: "fr"
        tls_verify: false
        html_show_copyright: false
        html_last_updated_fmt: "%d %b %Y"
        latex_logo: 'images/logo_small.png'
        latex_toplevel_sectioning: 'chapter'
        latex_elements:
            preamble: |
                \usepackage{ccicons}
            maketitle: |
                \newcommand\sphinxbackoftitlepage{\input{../../credits.tex}}\sphinxmaketitle

latex:
  latex_documents:
     targetname: guide_bonnes_pratiques_gestion_donnees_recherche_v1.tex
     title: "Guide de Bonnes Pratiques sur la gestion des données de la Recherche" 
     author: 'Groupe de travail "Atelier Données" \\\\ Mission pour les Initiatives Transverses Interdisciplinaires '
     theme: "manual"
     toctree_only: True
     papersize: 'a4paper'
