p {
    text-align: justify;
}

p.admonition-title {
    font-weight: normal !important;
    display: inline;
}

div.admonition{
    margin: 20px 0px;
    padding: 10px 30px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
