p {
    text-align: justify;
}

.admonition.seealso {
  padding: 0 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: left;
}
.admonition-title {
  background-color: #ffffff !important;
  font-style: italic !important;
  font-weight: normal !important;
  text-align: left;
}
